In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import warnings

In [5]:
df = pd.read_csv('superbowl_commercials.csv')

In [6]:
df.head()

,Year,Brand,Superbowl Ads Link,Youtube Link,Funny,Shows Product Quickly,Patriotic,Celebrity,Danger,Animals,Uses Sex,Length,Estimated Cost,Youtube Views,Youtube Likes,TV Viewers
0,2000,E-Trade,https://superbowl-ads.com/2000-etrade-monkey-d...,https://www.youtube.com/watch?v=Muyq2kMDFoA,True,True,False,False,False,True,False,30,2.1,13615.0,84.0,88.47
1,2000,E-Trade,https://superbowl-ads.com/2000-etrade-money-ou...,https://www.youtube.com/watch?v=oftjwYmlfoA,True,True,False,False,True,False,False,30,2.1,72772.0,146.0,88.47
2,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-whaas...,https://www.youtube.com/watch?v=loimTUjV92Q,True,True,False,False,False,False,False,30,2.1,5399.0,11.0,88.47
3,2000,Bud Light,https://superbowl-ads.com/2000-bud-light-hold-...,https://www.youtube.com/watch?v=M3IV93HwSkc,True,True,False,False,True,False,False,30,2.1,6699.0,8.0,88.47
4,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-talki...,https://www.youtube.com/watch?v=dK1tlG778J8,True,False,False,False,False,True,False,30,2.1,18972.0,6.0,88.47

In [7]:
df.dtypes

Year                       int64
Brand                     object
Superbowl Ads Link        object
Youtube Link              object
Funny                       bool
Shows Product Quickly       bool
Patriotic                   bool
Celebrity                   bool
Danger                      bool
Animals                     bool
Uses Sex                    bool
Length                     int64
Estimated Cost           float64
Youtube Views            float64
Youtube Likes            float64
TV Viewers               float64
dtype: object

In [9]:
df.isnull().sum()

Year                      0
Brand                     0
Superbowl Ads Link        0
Youtube Link              9
Funny                     0
Shows Product Quickly     0
Patriotic                 0
Celebrity                 0
Danger                    0
Animals                   0
Uses Sex                  0
Length                    0
Estimated Cost            0
Youtube Views            12
Youtube Likes            18
TV Viewers                0
dtype: int64

In [11]:
df.shape

(249, 16)

In [16]:
df.columns

Index(['Year', 'Brand', 'Superbowl Ads Link', 'Youtube Link', 'Funny',
       'Shows Product Quickly', 'Patriotic', 'Celebrity', 'Danger', 'Animals',
       'Uses Sex', 'Length', 'Estimated Cost', 'Youtube Views',
       'Youtube Likes', 'TV Viewers'],
      dtype='object')

In [17]:
df['Brand'].value_counts()

Bud Light    62
Budweiser    43
Doritos      26
Pepsi        25
Hyundai      22
Coca-Cola    21
E-Trade      14
Kia          13
Toyota       12
NFL          11
Name: Brand, dtype: int64

In [20]:
cont_cols = ['Length', 'Estimated Cost', 'Youtube Views',
       'Youtube Likes', 'TV Viewers']

cat_cols = ['Brand', 'Funny',
       'Shows Product Quickly', 'Patriotic', 'Celebrity', 'Danger', 'Animals',
       'Uses Sex',]

In [21]:
df['Year'].nunique()

22

In [35]:
df['Year'].value_counts(sort=False)

2000     8
2001    13
2002    10
2003    12
2004    11
2005     8
2006     7
2007    14
2008    13
2009    15
2010    14
2011     9
2012    15
2013    15
2014    14
2015    10
2016    13
2017     5
2018    14
2019    15
2020     9
2021     5
Name: Year, dtype: int64

In [39]:
cont_cols_stats = df[cont_cols].describe()
cont_cols_stats

           Length  Estimated Cost  Youtube Views  Youtube Likes  TV Viewers
count  249.000000      249.000000   2.370000e+02     231.000000  249.000000
mean    44.457831        5.156888   1.569672e+06    5086.592713  100.475341
std     21.331845        4.075974   1.229921e+07   28387.597549   12.819811
min     10.000000        0.980000   5.000000e+00       0.000000   84.340000
25%     30.000000        2.400000   7.256000e+03      20.500000   90.750000
50%     30.000000        3.150000   4.730900e+04     146.000000   98.730000
75%     60.000000        5.900000   1.813620e+05     704.500000  111.010000
max    180.000000       31.730000   1.814238e+08  295000.000000  232.000000

In [56]:
round(cont_cols_stats.loc['mean'],2)

Length                 44.46
Estimated Cost          5.16
Youtube Views     1569672.10
Youtube Likes        5086.59
TV Viewers            100.48
Name: mean, dtype: float64

In [46]:
df[cont_cols].isnull().sum()

Length             0
Estimated Cost     0
Youtube Views     12
Youtube Likes     18
TV Viewers         0
dtype: int64

In [62]:
df['Youtube Views'].fillna(df['Youtube Views'].mean(), inplace=True)

In [63]:
df['Youtube Likes'].fillna(df['Youtube Likes'].mean(), inplace=True)

In [64]:
df[cont_cols].isnull().sum()

Length            0
Estimated Cost    0
Youtube Views     0
Youtube Likes     0
TV Viewers        0
dtype: int64

In [69]:
df['Youtube Link'].fillna("No Link", inplace = True)

In [71]:
df

,Year,Brand,Superbowl Ads Link,Youtube Link,Funny,Shows Product Quickly,Patriotic,Celebrity,Danger,Animals,Uses Sex,Length,Estimated Cost,Youtube Views,Youtube Likes,TV Viewers
0,2000,E-Trade,https://superbowl-ads.com/2000-etrade-monkey-d...,https://www.youtube.com/watch?v=Muyq2kMDFoA,True,True,False,False,False,True,False,30,2.1,13615.0,84.0,88.47
1,2000,E-Trade,https://superbowl-ads.com/2000-etrade-money-ou...,https://www.youtube.com/watch?v=oftjwYmlfoA,True,True,False,False,True,False,False,30,2.1,72772.0,146.0,88.47
2,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-whaas...,https://www.youtube.com/watch?v=loimTUjV92Q,True,True,False,False,False,False,False,30,2.1,5399.0,11.0,88.47
3,2000,Bud Light,https://superbowl-ads.com/2000-bud-light-hold-...,https://www.youtube.com/watch?v=M3IV93HwSkc,True,True,False,False,True,False,False,30,2.1,6699.0,8.0,88.47
4,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-talki...,https://www.youtube.com/watch?v=dK1tlG778J8,True,False,False,False,False,True,False,30,2.1,18972.0,6.0,88.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2021,E-Trade,https://www.superbowl-ads.com/2021-etrade-work...,https://www.youtube.com/watch?v=QagQxo4IZx8,True,False,False,True,False,False,False,30,5.5,177.0,6.0,91.63
245,2021,Toyota,https://www.superbowl-ads.com/2021-toyota-jess...,https://www.youtube.com/watch?v=fqWG5_7nwyk&t=1s,False,False,True,False,False,False,False,60,11.0,1399700.0,12000.0,91.63
246,2021,Bud Light,https://www.superbowl-ads.com/2021-bud-light-l...,https://www.youtube.com/watch?v=IOjsm02SVF4,True,True,False,True,True,False,False,60,11.0,4250.0,33.0,91.63
247,2021,Doritos,https://www.superbowl-ads.com/2021-doritos-3d-...,https://www.youtube.com/watch?v=BLuqtTn4610&t=9s,True,False,False,True,True,True,False,60,11.0,21546933.0,20000.0,91.63
248,2021,Bud Light,https://www.superbowl-ads.com/2021-bud-light-l...,https://www.youtube.com/watch?v=g6CVKs77X74,True,True,False,False,True,False,False,60,11.0,5140823.0,2900.0,91.63